* {
  font-family: Arial, Helvetica, sans-serif;
}
/* header section styles */
.head {
  background-image: url(../images/banner/banner11.png);
  background-position: center;
  background-repeat: no-repeat;
}
.header-content {
  padding: 120px 800px 120px 140px;
}
.head-title {
  color: #020202;
  font-size: 50px;
}
.head-descr {
  color: #7a7777;
  font-weight: 400;
  font-size: 20px;
  margin-top: 10px;
}
.btn-primary {
  background-color: rgb(75, 19, 204);
  color: white;
  border-radius: 10px;
  border: none;
  transition: transform 3s;
  padding: 15px 20px;
  font-size: 18px;
}
.btn-primary:hover {
  background-color: rgb(18, 80, 212);
  color: white;
  transform: rotate(360deg);
  border-radius: 10px;
  border: none;
  padding: 15px 20px;
  font-size: 18px;
}
/* failure section styles */
.failure {
  display: flex;
  align-items: center;
  justify-content: center;
}
.failure-image {
  margin: 80px 80px 30px 0px;
}
.failure-content {
  padding: 20px 30px 5px 30px;
}
.failure-title {
  font-size: 38px;
}
.failure-sub-title {
  font-weight: 300;
  font-size: 20px;
  color: #474141;
}
.failure-list {
  font-size: 17px;
  color: #554f4f;
}
/* plans section styles */
.plans-container {
  margin: 100px 50px;
}
.plans-title {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
}
.plans-content {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 50px;
  padding-left: 55px;
  padding-right: 55px;
}
.plans-content:hover {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 50px;
  padding-left: 55px;
  padding-right: 55px;
}
.plans{
  transition: transform 3s;
}
.plans:hover{
  transform: rotate(360deg);
}
.plans-sub-title {
  font-weight: 700;
  font-size: 30px;
}
.plans-descr {
  font-weight: 400;
  font-size: 20px;
  color: #7a7777;
}
/* gradient section styles */
.gradient {
  background: url(../images/gradient1.png), url(../images/watch.png);
  background-position: center;
  background-repeat: no-repeat;
  text-align: left;
  margin: 100px 50px 80px 60px;
}
.gradient-content {
  padding: 60px 1px 80px 225px;
}
.gradient-title {
  font-weight: 650;
  font-size: 45px;
  color: aliceblue;
}
.gradient-content .btn-primary {
  border-radius: 15px;
  border: none;
  padding: 15px 20px;
  font-size: 22px;
  color: rgb(93, 156, 216);
  background-color: aliceblue;
}
.gradient-content .btn-primary:hover {
  transition: 1s;
  transform: rotate(90);
  border-radius: 15px;
  border: none;
  padding: 15px 20px;
  font-size: 22px;
  color: rgb(255, 255, 255);
  background-color: rgb(63, 142, 211);
}
/* future section styles */
.future {
  display: flex;
  background-color: #020202;
  color: white;
  gap: 330px;
}
.future-content {
  padding: 130px 1px 130px 180px;
}
.future-title {
  font-weight: 600;
  font-size: 40px;
}
.subscribe-content {
  padding: 135px 180px 130px 0px;
}
input {
  margin-bottom: 15px;
  padding: 22px 158px 22px 22px;
  border-radius: 5px;
  border: 2px solid white;
  font-weight: 400;
  font-size: 16px;
}
.future .btn-primary {
  background-color: rgb(1, 1, 192);
}
a {
  text-decoration: none;
  margin-top: 15px;
}
