* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
/* header styles */
.head {
  background-image: url(../images/banner/banner11.png);
  background-position: center;
  background-repeat: no-repeat;
}
.header-content {
  padding: 215px 850px 300px 140px;
}
.head-title {
  color: #020202;
  font-weight: 650;
  font-size: 60px;
}
.head-descr {
  color: #7a7777;
  font-weight: 400;
  font-size: 20px;
  margin-top: 10px;
}
.btn-primary {
  background-color: coral;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 15px 20px;
  font-size: 20px;
}
/* failure section styles */
.failure {
  display: flex;
  gap: 85px;
}
.failure-image {
  padding-left: 50px;
}
.failure-content {
  padding-top: 200px;
  padding-right: 50px;
}
.failure-title {
  font-weight: 500;
  font-size: 45px;
}
.failure-sub-title {
  font-weight: 300;
  font-size: 20px;
  color: #7a7777;
}
.failure-list{
    color: #6d6565; 
}
/* plans section styles */
.plans-title{
  text-align: center;
  font-weight: 550;
  font-size: 35px;
}
.plans-content{
  display: flex;
  justify-content: space-around;
  gap: 10px;
  text-align: center;
  margin-top: 55px;
  padding-left: 55px;
}
.plans-sub-title{
  font-weight: 700;
  font-size: 30px;
}
.plans-descr{
  font-weight: 400;
  font-size: 20px;
  color: #7a7777;
  margin-top: 5px;
}
/* gradient section styles */
.gradient{
  background: url(../images/gradient1.png), url(../images/watch.png);
  background-blend-mode: ;
  background-position: center;
  background-repeat: no-repeat;
  text-align: left;
}
.gradient-content{
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 330px;
}
.gradient-title{
  font-weight: 650;
  font-size: 45px;
  color: aliceblue;
}
.gradient-content .btn-primary{
  border-radius: 5px;
  border: none;
  padding: 15px 20px;
  font-size: 20px;
  color: rgb(93, 156, 216); 
  background-color: aliceblue;
}